---
import { services } from "../../data/db";
import ServiceItem from "./ServiceItem.astro";
---

<section id="service" class="service-container">
  <div class="service-container-child">
    
    <div class="w-fit mx-auto relative">
      <h2 class="service-title">Servicios</h2>
    <div class="flex h-[2px] w-full rounded-full overflow-hidden md:h-[5px] md:absolute md:bottom-4 ">
      <span class="bg-blue-600 w-full flex-1"></span>
      <span class="bg-red-600 w-full flex-1"></span>
    </div>
    </div>
    
    <p class="service-paragraph">
      Dejate impresionar por los diferentes servicios que podemos ofrecerte.
    </p>

    <div class="service-container-flex">
      {
        services.map((item, index) => (
            <div class="item">
              <ServiceItem {...item} />
            </div>
          )
        )
      }
    </div>
  </div>
</section>

<style>
  .service-container {
    width: 100%;
    padding: 1em 0;
    margin-top: 2em;
  }

  .service-container-child {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .service-title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
  }

  .service-paragraph {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1em;
    font-style: italic;
    text-align: center;
    color: rgb(10, 78, 96);
  }

  .service-container-flex {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 500px;
    max-width: 400px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
  }

  .item {
    flex: 1;
    transition: all ease-in-out 0.3s;
    position: relative;
    opacity: 0.4;
    overflow: hidden;
    padding: 1em 0;
  }

  .item:hover {
    flex: 10;
    opacity: 1;
  }

  @media (min-width: 768px) {
    
    .service-container {
      margin-top: 3em;
    }

    .service-title {
      font-size: 5rem;
    }

    .service-paragraph {
      font-size: 1.5rem;
      margin-bottom: 1em;
    }

    .service-container-flex {
      flex-direction: row;
      height: 400px;
      width: 90%;
      max-width: 1200px;
      border-radius: 6px;
      box-shadow: 0px 0px 10px rgb(0, 0, 0);
    }

    .item {
      flex: 1;
      transition: all ease-in-out 0.5s;
      opacity: 0.8;
      overflow: hidden;
      padding: 0 1em;
    }

    .item:hover {
      flex: 2;
    }
  }


</style>
