---
import Navbar from "./components/Navbar.astro";
import Footer from './components/Footer.astro'
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>BarberíApp</title>
  </head>
  <body>
    
    <Navbar />

    <main class="my-[80px]">
      <slot />
    </main>

    <Footer />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>

<style is:global>

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body{
    background-color: rgb(214, 213, 211);
  }
</style>


